15m.json
{
  "name": "15m",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "694cc668-54e1-4b18-94e7-51a381764295",
              "name": "response",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeBinary": true
        }
      },
      "id": "d7ee7495-0b08-48e6-bc84-86e3e0a0ca94",
      "name": "Set 'response' value",
      "type": "n8n-nodes-base.set",
      "position": [
        1160,
        60
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chart-img.com/v2/tradingview/layout-chart/storage/1LucwVmQ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "tradingview-session-id",
              "value": "3mj0z4rbt80q53ph30p82i1pu9k91vh7"
            },
            {
              "name": "tradingview-session-id-sign",
              "value": "v3:hv1B6jvs2MSGaLCIPXxIsuPkoR73HOmY2ajBU7KNvBE="
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "jpeg"
            },
            {
              "name": "interval",
              "value": "15m"
            },
            {
              "name": "width",
              "value": "1920"
            },
            {
              "name": "height",
              "value": "1080"
            }
          ]
        },
        "options": {}
      },
      "id": "cb37eedc-2961-4147-b3db-adecffeab1d0",
      "name": "Tradingview Chart",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        580,
        60
      ],
      "typeVersion": 4.2,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZleHrixI7F5TA8Yb",
          "name": "chart-img"
        }
      }
    },
    {
      "parameters": {
        "content": "## Start here: Step-by Step Youtube Tutorial :star:\n\n[![Technical Analyst AI Agent using LLM Vision](https://img.youtube.com/vi/yjBHheCB6Ek/sddefault.jpg)](https://youtu.be/yjBHheCB6Ek)\n",
        "height": 550,
        "width": 507,
        "color": 7
      },
      "id": "012e941f-ab06-4201-8a7f-0e8ded0afef7",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        60
      ],
      "id": "4242ef46-516a-4033-b09b-c8f75fe1d3be",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5m",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        60
      ],
      "id": "e4259c91-3bd0-445d-92c9-9a8c8684abe2",
      "name": "Webhook",
      "webhookId": "5c793395-f218-4a49-a620-51d297f2dbfb"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        20,
        260
      ],
      "id": "e0a378f3-f789-4f8e-8267-d72fa309fefa",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        -140
      ],
      "id": "493e1a07-716b-4012-b780-537a83876bdd",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert day trading analyst for the Micro E-mini S&P 500 (MES).\n\nAnalyze the attached chart image for the 15m timeframe.\nFirst, determine the market regime, then generate your trade signal and context using only information visible in the chart. ALWAYS consider higher timeframe trends when provided.\n\nStep 1: Market Regime & Trend Assessment\n- Classify the current market regime:\n  - strong_trend: Price making clear higher highs/lows (uptrend) or lower highs/lows (downtrend).\n  - weak_trend: Trend is losing momentum, pullbacks deeper, more divergences.\n  - range: Price bouncing between defined support and resistance.\n  - breakout: Sudden expansion beyond prior range or support/resistance.\n- Identify trend direction: up, down, or sideways.\n- If you are given higher timeframe context (e.g., from 1h, 4h), factor it in and avoid fading strong higher timeframe trends.\n\nStep 2: Signal Generation (Regime-Specific Logic)\n- If strong trend:\n  - Signal = trade WITH the trend on pullbacks to support/resistance/moving average.\n  - Ignore minor divergences unless confirmed by multiple timeframes.\n  - Only reverse on major exhaustion signals (e.g., strong divergence + momentum shift + major S/R rejection).\n- If weak/mature trend:\n  - Watch divergences closely.\n  - Consider counter-trend scalps at extremes.\n  - Tighten stops on trend trades.\n- If range/chop:\n  - Signal = fade extremes (buy support, sell resistance).\n  - Divergences are HIGH VALUE here.\n  - HOLD if price is in the middle of the range.\n- If breakout:\n  - Only trade in breakout direction after confirmation.\n  - Avoid fading unless breakout fails and price returns inside range.\n\nStep 3: Extract Visible Data (Be Concise, Use Nulls if Not Shown)\n- Up to 3 major support levels (lowest to highest)\n- Up to 3 major resistance levels (lowest to highest)\n- Entry price, stop loss, up to 3 take profits, all based on visible structure (set null if not visible)\n- Current price, recent high, recent low, percent of current price through visible range (0–100)\n- Momentum: accelerating, steady, decelerating\n- Volatility: high, medium, low (if visible)\n- Indicators (from chart):\n  - ATR Crayon: bullish/bearish/neutral/not_shown\n  - FSVZO: above_zero/below_zero/neutral/not_shown\n  - Phobos: positive_momentum/negative_momentum/neutral/not_shown\n  - Fisher: bullish_divergence/bearish_divergence/neutral/not_shown\n- Candle pattern: hammer, doji, engulfing, none (or not_shown)\n- Volume trend: increasing, decreasing, flat, not_shown\n\nStep 4: Provide Context & Reason\n- Brief price action summary (1-2 sentences)\n- Clearly explain your signal in context of regime, trend, indicators, and price action\n- List any major risk factors (e.g., \"Breakout is extended and at resistance; reversal risk if rejected.\")\n- Always include the chart URL\n\nFormatting\n- Use only information from the visible chart image and provided context.\n- If a data field is not visible, use null or \"not_shown\" as appropriate.\n- Respond with valid JSON only—no extra commentary, no markdown.\n\nJSON Output:\n{\n  \"timeframe\": \"15m\",\n  \"market_regime\": \"strong_trend|weak_trend|range|breakout\",\n  \"trend_direction\": \"up|down|sideways\",\n  \"trend_strength\": \"strong|moderate|weak|exhausted\",\n  \"signal\": \"BUY|SELL|HOLD\",\n  \"signal_type\": \"trend_continuation|reversal|range_fade|breakout\",\n  \"signal_confidence\": \"high|medium|low\",\n  \"entrylimit\": <float|null>,\n  \"tp1\": <float|null>,\n  \"tp2\": <float|null>,\n  \"tp3\": <float|null>,\n  \"sl\": <float|null>,\n  \"support\": [<float|null>, <float|null>, <float|null>],\n  \"resistance\": [<float|null>, <float|null>, <float|null>],\n  \"trade_location\": \"pullback|breakout|extreme|middle\",\n  \"current_price\": <float|null>,\n  \"recent_high\": <float|null>,\n  \"recent_low\": <float|null>,\n  \"percent_of_range\": <float 0-100|null>,\n  \"momentum\": \"accelerating|steady|decelerating|not_shown\",\n  \"momentum_alignment\": \"with_trend|against_trend|neutral|not_shown\",\n  \"volatility\": \"high|medium|low|not_shown\",\n  \"range_size\": <float|null>,\n  \"indicators\": {\n    \"ATR_crayon\": \"bullish|bearish|neutral|not_shown\",\n    \"FSVZO\": \"above_zero|below_zero|neutral|not_shown\",\n    \"Phobos\": \"positive_momentum|negative_momentum|neutral|not_shown\",\n    \"Fisher\": \"bullish_divergence|bearish_divergence|neutral|not_shown\"\n  },\n  \"candle_pattern\": \"hammer|doji|engulfing|none|not_shown\",\n  \"volume_trend\": \"increasing|decreasing|flat|not_shown\",\n  \"price_action_summary\": \"<1-2 sentences, price action recap>\",\n  \"setup_detected\": \"<pattern|none|not_shown>\",\n  \"reason\": \"<concise regime-driven explanation of your signal and trade idea>\",\n  \"risk_factors\": [\"<what could invalidate this signal>\"],\n  \"chart_time\": \"{{ $now }}\",\n  \"url\": \"{{ $json.response }}\"\n}\n",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1400,
        60
      ],
      "id": "b6b9125e-cae9-4be5-8428-95e9dd883476",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1420,
        280
      ],
      "id": "63fce656-98b1-48be-89ab-5c099939a232",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hOvrgCZvpztkucKb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        2140,
        -20
      ],
      "id": "f2bc1310-3638-4e78-b3db-c1a7bd32774f",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "tableId": "chart_analysis",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2140,
        200
      ],
      "id": "722dfaff-e2e6-47a5-a314-cd668a2f17fe",
      "name": "Supabase3",
      "credentials": {
        "supabaseApi": {
          "id": "id8sHbOkjIgqTd0J",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let raw = $input.first().json.text;\n\n// Strip code block markers, leading/trailing quotes, and whitespace\nraw = raw.trim()\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/```$/i, '')\n    .replace(/^'|'$/g, '');\n\nreturn [ JSON.parse(raw) ];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        60
      ],
      "id": "3101e872-4103-4a66-ab78-40c9923f8cb4",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "latest_chart_analysis",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "symbol",
              "condition": "eq",
              "keyValue": "MES"
            },
            {
              "keyName": "timeframe",
              "condition": "eq",
              "keyValue": "={{ $json.timeframe }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "snapshot",
              "fieldValue": "={{ $('Basic LLM Chain').item.json.text }}"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $json.chart_time }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2140,
        400
      ],
      "id": "f8c3a2c0-e2d7-4af3-aefb-70265bef76c8",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "id8sHbOkjIgqTd0J",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Tradingview Chart": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Set 'response' value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Tradingview Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set 'response' value": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Tradingview Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Tradingview Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Supabase3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0b1acc1e-e062-4986-90d7-295d56299a41",
  "meta": {
    "instanceId": "9783a33f8d5600da0ff08d35d1dc9051c104e0a37fceb74a2ffe1557dcda02bc"
  },
  "id": "DKUSLysNqZjX9PA5",
  "tags": []
}
