1M.json
{
  "name": "1M",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "694cc668-54e1-4b18-94e7-51a381764295",
              "name": "response",
              "value": "={ {{ $json.chart_url }} }",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeBinary": true
        }
      },
      "id": "a794d841-8764-4c02-9ab0-5ca0a45d7ff3",
      "name": "Set 'response' value",
      "type": "n8n-nodes-base.set",
      "position": [
        1160,
        60
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chart-img.com/v2/tradingview/layout-chart/storage/1LucwVmQ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "tradingview-session-id",
              "value": "3mj0z4rbt80q53ph30p82i1pu9k91vh7"
            },
            {
              "name": "tradingview-session-id-sign",
              "value": "v3:hv1B6jvs2MSGaLCIPXxIsuPkoR73HOmY2ajBU7KNvBE="
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "jpeg"
            },
            {
              "name": "interval",
              "value": "1M"
            },
            {
              "name": "width",
              "value": "1920"
            },
            {
              "name": "height",
              "value": "1080"
            }
          ]
        },
        "options": {}
      },
      "id": "415c8fe1-5af3-4b17-b7fc-ae89acfa9060",
      "name": "Tradingview Chart",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        600,
        200
      ],
      "typeVersion": 4.2,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZleHrixI7F5TA8Yb",
          "name": "chart-img"
        }
      }
    },
    {
      "parameters": {
        "content": "## Start here: Step-by Step Youtube Tutorial :star:\n\n[![Technical Analyst AI Agent using LLM Vision](https://img.youtube.com/vi/yjBHheCB6Ek/sddefault.jpg)](https://youtu.be/yjBHheCB6Ek)\n",
        "height": 550,
        "width": 507,
        "color": 7
      },
      "id": "35ff298d-6216-46e8-a9f3-d61b75bcd22b",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.chart_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        200
      ],
      "id": "fc51f3fd-ca4e-4cd8-ab81-a6b0c1671f0e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5m",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        200
      ],
      "id": "242c022e-713c-40e1-bef8-df53a47dae52",
      "name": "Webhook",
      "webhookId": "5c793395-f218-4a49-a620-51d297f2dbfb"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        20,
        400
      ],
      "id": "3c62f456-48cf-420d-b49f-3d448a31dba7",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "f3c9a159-faf6-4ffd-bc5d-3a7b58bdce84",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "charts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "symbol",
              "condition": "eq",
              "keyValue": "MES"
            },
            {
              "keyName": "timeframe",
              "condition": "eq",
              "keyValue": "1M"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chart_url",
              "fieldValue": "={{ $json.url }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        200
      ],
      "id": "e5d5e7a0-edab-4973-90f3-5e0d43b628f3",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "id8sHbOkjIgqTd0J",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "charts",
        "filters": {
          "conditions": [
            {
              "keyName": "timeframe",
              "keyValue": "1M"
            },
            {
              "keyName": "symbol",
              "keyValue": "MES"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        240,
        80
      ],
      "id": "7da70cf9-eb16-41f3-8222-28a66b92e450",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "id8sHbOkjIgqTd0J",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "04a3fd08-7396-47d6-830d-da9165fa0bc0",
              "leftValue": "={{ (new Date().getTime() - new Date($json[\"updated_at\"]).getTime()) / 60000 }}",
              "rightValue": 1440,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        80
      ],
      "id": "a909a202-9a20-4415-8318-16958cf0bc05",
      "name": "If"
    },
    {
      "parameters": {
        "url": "={{ $json.chart_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        -20
      ],
      "id": "376fbdc9-7437-40ae-8dc8-62ee1c4cd849",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert day trading analyst for the Micro E-mini S&P 500 (MES).\n\nAnalyze the attached chart image for the {{ $('If').item.json.timeframe }} timeframe.\n\nYour tasks:\n\n- Identify the short-term trade signal: BUY, SELL, or HOLD.\n- Identify the trend: up, down, or sideways.\n- Give a concise reason referencing only visible chart features (candles, price action, or any charted indicators shown).\n- Extract up to 3 major support levels and 3 major resistance levels, as arrays of prices, lowest to highest.\n- Summarize chart context: momentum, volatility, recent high/low, current price, indicator states, range size, volume trend, and any key pattern or setup.\n- Add a one-sentence price action summary.\n\nIndicators you may see:\n- ATR Crayon Candles: Green = bullish, Red = bearish\n- FSVZO\n- Phobos momentum\n- Fisher: Red H/R = hidden or regular bearish divergence; Green H/R = hidden or regular bullish divergence\n\nInstructions:\n- Use only information visible in the chart image.\n- If a data field is not visible, use null or \"not_shown\" as appropriate.\n- Return all outputs as valid JSON only (no extra commentary or formatting, and no ```json).\n\nReturn all fields of this JSON:\n\n{\n  \"timeframe\": \"{{ $('If').item.json.timeframe }}\",\n  \"signal\": \"BUY|SELL|HOLD\",\n  \"entrylimit\": <float>,\n  \"tp1\": <float>,\n  \"tp2\": <float>,\n  \"tp3\": <float>,\n  \"sl\": <float>,\n  \"support\": [<float>, <float>, <float>],\n  \"resistance\": [<float>, <float>, <float>],\n  \"trend\": \"up|down|sideways\",\n  \"momentum\": \"strong|weak|neutral\",\n  \"volatility\": \"high|medium|low\",\n  \"range_size\": <float>,\n  \"current_price\": <float>,\n  \"recent_high\": <float>,\n  \"recent_low\": <float>,\n  \"vwap\": <float|null>,\n  \"indicators\": {\n      \"ATR_crayon\": \"bullish|bearish|neutral|not_shown\",\n      \"FSVZO\": \"above_zero|below_zero|neutral|not_shown\",\n      \"Phobos\": \"positive_momentum|negative_momentum|neutral|not_shown\",\n      \"Fisher\": \"bullish_divergence|bearish_divergence|neutral|not_shown\"\n  },\n  \"candle_pattern\": \"hammer|doji|engulfing|none\",\n  \"volume_trend\": \"increasing|decreasing|flat|not_shown\",\n  \"price_action_summary\": \"<one sentence summary of recent price action>\",\n  \"setup_detected\": \"<pattern|none>\",\n  \"chart_time\": \"<ISO8601 timestamp|null>\",\n  \"reason\": \"<concise chart-based rationale>\",\n  \"url\": \"{{ $('If').item.json.chart_url }}\"\n}\n",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1380,
        60
      ],
      "id": "d3edcc78-8eec-4973-806f-62641e1f2768",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1400,
        280
      ],
      "id": "c990fe92-f77d-4533-86e6-56f73d9cb6d0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hOvrgCZvpztkucKb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1780,
        60
      ],
      "id": "6542492f-e5c5-4f4a-acfd-be0def6c3053",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Tradingview Chart": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Set 'response' value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set 'response' value": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tradingview Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Set 'response' value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "afd03ee0-60f4-4e83-9ed5-5bfb90d14b52",
  "meta": {
    "instanceId": "9783a33f8d5600da0ff08d35d1dc9051c104e0a37fceb74a2ffe1557dcda02bc"
  },
  "id": "eYN3ktA56GoLxPfU",
  "tags": []
}
