1W.json
{
  "name": "1W",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "694cc668-54e1-4b18-94e7-51a381764295",
              "name": "response",
              "value": "={ {{ $json.chart_url }} }",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeBinary": true
        }
      },
      "id": "4edd8641-bd51-485e-bdb9-9d7e8557d864",
      "name": "Set 'response' value",
      "type": "n8n-nodes-base.set",
      "position": [
        1160,
        60
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chart-img.com/v2/tradingview/layout-chart/storage/1LucwVmQ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "tradingview-session-id",
              "value": "3mj0z4rbt80q53ph30p82i1pu9k91vh7"
            },
            {
              "name": "tradingview-session-id-sign",
              "value": "v3:hv1B6jvs2MSGaLCIPXxIsuPkoR73HOmY2ajBU7KNvBE="
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "jpeg"
            },
            {
              "name": "interval",
              "value": "1W"
            }
          ]
        },
        "options": {}
      },
      "id": "6b8c1bd7-be69-48c8-84a8-f0fadbc5b6d1",
      "name": "Tradingview Chart",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        600,
        200
      ],
      "typeVersion": 4.2,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZleHrixI7F5TA8Yb",
          "name": "chart-img"
        }
      }
    },
    {
      "parameters": {
        "content": "## Start here: Step-by Step Youtube Tutorial :star:\n\n[![Technical Analyst AI Agent using LLM Vision](https://img.youtube.com/vi/yjBHheCB6Ek/sddefault.jpg)](https://youtu.be/yjBHheCB6Ek)\n",
        "height": 550,
        "width": 507,
        "color": 7
      },
      "id": "4cee1f38-349a-4737-9a41-6b9df4deb8df",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.chart_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        200
      ],
      "id": "5c6fc3ea-9ddc-457c-b02f-d53d560f0a18",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5m",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        200
      ],
      "id": "b39f80c4-dd78-44b1-8a64-16e070e22b77",
      "name": "Webhook",
      "webhookId": "5c793395-f218-4a49-a620-51d297f2dbfb"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1400,
        60
      ],
      "id": "fdcf385e-968e-4d48-99fa-7400242292cf",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        20,
        400
      ],
      "id": "d97f329c-6140-4d43-871b-959197616b11",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "942b9546-32bc-4710-bf7e-52638c6005b8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "charts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "symbol",
              "condition": "eq",
              "keyValue": "MES"
            },
            {
              "keyName": "timeframe",
              "condition": "eq",
              "keyValue": "1W"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chart_url",
              "fieldValue": "={{ $json.url }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        200
      ],
      "id": "f858b0e9-fff3-403e-8628-0b694cf0fa6e",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "id8sHbOkjIgqTd0J",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "charts",
        "filters": {
          "conditions": [
            {
              "keyName": "timeframe",
              "keyValue": "1W"
            },
            {
              "keyName": "symbol",
              "keyValue": "MES"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        240,
        80
      ],
      "id": "aee86a9b-5920-46d6-b972-4f7d71824ea7",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "id8sHbOkjIgqTd0J",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "04a3fd08-7396-47d6-830d-da9165fa0bc0",
              "leftValue": "={{ (new Date().getTime() - new Date($json[\"updated_at\"]).getTime()) / 60000 }}",
              "rightValue": 720,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        380,
        80
      ],
      "id": "c0813b83-f6d7-40ae-ba98-4d00e672787e",
      "name": "If"
    },
    {
      "parameters": {
        "url": "={{ $json.chart_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        -40
      ],
      "id": "ad62ac83-a985-471c-ad15-3a7fb9efcbaf",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Tradingview Chart": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Set 'response' value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set 'response' value": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tradingview Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Set 'response' value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b9245191-99a8-4e62-8385-b119128e9763",
  "meta": {
    "instanceId": "9783a33f8d5600da0ff08d35d1dc9051c104e0a37fceb74a2ffe1557dcda02bc"
  },
  "id": "i1Py6o2O0bH0utaH",
  "tags": []
}