5m.json
{
  "name": "5m",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $('Supabase1').item.json.chart_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        -80
      ],
      "id": "0104e509-8304-46dd-b2e8-9588b33c0cb0",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "04a3fd08-7396-47d6-830d-da9165fa0bc0",
              "leftValue": "={{ (new Date().getTime() - new Date($json[\"updated_at\"]).getTime()) / 60000 }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1020,
        40
      ],
      "id": "73783c9a-1716-412b-8fe5-fc43258cbe0e",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "charts",
        "filters": {
          "conditions": [
            {
              "keyName": "timeframe",
              "keyValue": "5m"
            },
            {
              "keyName": "symbol",
              "keyValue": "MES"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        40
      ],
      "id": "dd62d771-ec4a-4fdc-9ab6-bd64556b0eac",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "id8sHbOkjIgqTd0J",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "charts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "symbol",
              "condition": "eq",
              "keyValue": "MES"
            },
            {
              "keyName": "timeframe",
              "condition": "eq",
              "keyValue": "5m"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chart_url",
              "fieldValue": "={{ $json.url }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1400,
        160
      ],
      "id": "eeb6fe03-5544-473f-968b-691c7dc53bd6",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "id8sHbOkjIgqTd0J",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        640,
        -40
      ],
      "id": "850a70f8-ea0d-4ec6-aa79-c4a78f9223e9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        660,
        360
      ],
      "id": "b064e0f7-3043-496d-9e51-ddf9d193dcaf",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        2040,
        20
      ],
      "id": "105e4410-177b-476e-af02-c9250f6b49d7",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5m",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        640,
        160
      ],
      "id": "5b564af7-8e14-485d-b79e-88e90644ccbd",
      "name": "Webhook",
      "webhookId": "5c793395-f218-4a49-a620-51d297f2dbfb"
    },
    {
      "parameters": {
        "url": "={{ $json.chart_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        160
      ],
      "id": "3da5a10b-745a-4cca-beb9-697399d498ca",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "content": "## Start here: Step-by Step Youtube Tutorial :star:\n\n[![Technical Analyst AI Agent using LLM Vision](https://img.youtube.com/vi/yjBHheCB6Ek/sddefault.jpg)](https://youtu.be/yjBHheCB6Ek)\n",
        "height": 550,
        "width": 507,
        "color": 7
      },
      "id": "13dbc348-fd04-4649-b34d-2c5a0b01cc24",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chart-img.com/v2/tradingview/layout-chart/storage/1LucwVmQ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "tradingview-session-id",
              "value": "3mj0z4rbt80q53ph30p82i1pu9k91vh7"
            },
            {
              "name": "tradingview-session-id-sign",
              "value": "v3:hv1B6jvs2MSGaLCIPXxIsuPkoR73HOmY2ajBU7KNvBE="
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "jpeg"
            },
            {
              "name": "interval",
              "value": "5m"
            },
            {
              "name": "width",
              "value": "1920"
            },
            {
              "name": "height",
              "value": "1080"
            }
          ]
        },
        "options": {}
      },
      "id": "f68fee47-c367-4dd0-972f-9a181ed7f652",
      "name": "Tradingview Chart",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1220,
        160
      ],
      "typeVersion": 4.2,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZleHrixI7F5TA8Yb",
          "name": "chart-img"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "694cc668-54e1-4b18-94e7-51a381764295",
              "name": "response",
              "value": "={ {{ $json.chart_url }} }",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeBinary": true
        }
      },
      "id": "17d61f1d-95b9-4c1c-9a87-eb3ac40d87f1",
      "name": "Set 'response' value",
      "type": "n8n-nodes-base.set",
      "position": [
        1800,
        20
      ],
      "typeVersion": 3.3
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tradingview Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Set 'response' value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Set 'response' value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tradingview Chart": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set 'response' value": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "96545671-318b-479e-a6a6-b283f49ac5d9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9783a33f8d5600da0ff08d35d1dc9051c104e0a37fceb74a2ffe1557dcda02bc"
  },
  "id": "7g4qjNktNsBh7U9Q",
  "tags": []
}
