5m.json
{
  "name": "5m",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        848,
        -144
      ],
      "id": "850a70f8-ea0d-4ec6-aa79-c4a78f9223e9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        848,
        272
      ],
      "id": "b064e0f7-3043-496d-9e51-ddf9d193dcaf",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        2848,
        -128
      ],
      "id": "105e4410-177b-476e-af02-c9250f6b49d7",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5m",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        848,
        64
      ],
      "id": "5b564af7-8e14-485d-b79e-88e90644ccbd",
      "name": "Webhook",
      "webhookId": "5c793395-f218-4a49-a620-51d297f2dbfb"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1712,
        32
      ],
      "id": "3da5a10b-745a-4cca-beb9-697399d498ca",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "content": "## Start here: Step-by Step Youtube Tutorial :star:\n\n[![Technical Analyst AI Agent using LLM Vision](https://img.youtube.com/vi/yjBHheCB6Ek/sddefault.jpg)](https://youtu.be/yjBHheCB6Ek)\n",
        "height": 550,
        "width": 507,
        "color": 7
      },
      "id": "13dbc348-fd04-4649-b34d-2c5a0b01cc24",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chart-img.com/v2/tradingview/layout-chart/storage/1LucwVmQ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "tradingview-session-id",
              "value": "xpy37kx3hnmae3v1s5ef6x7daimwi9j8"
            },
            {
              "name": "tradingview-session-id-sign",
              "value": "v3:ACiGDw6hGbRCPE1XPmC3F8Ui41D7L6BSb/zqECFveFE="
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "jpeg"
            },
            {
              "name": "interval",
              "value": "5m"
            },
            {
              "name": "width",
              "value": "1920"
            },
            {
              "name": "height",
              "value": "1080"
            }
          ]
        },
        "options": {}
      },
      "id": "f68fee47-c367-4dd0-972f-9a181ed7f652",
      "name": "Tradingview Chart",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1440,
        32
      ],
      "typeVersion": 4.2,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZleHrixI7F5TA8Yb",
          "name": "chart-img"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "694cc668-54e1-4b18-94e7-51a381764295",
              "name": "response",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeBinary": true
        }
      },
      "id": "17d61f1d-95b9-4c1c-9a87-eb3ac40d87f1",
      "name": "Set 'response' value",
      "type": "n8n-nodes-base.set",
      "position": [
        1920,
        32
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a minimalist 5m chart observer for MES.\nYour job is ONLY to output:\n- trend: up | down | flat | unknown\n- signal: BUY | SELL | HOLD\n- confidence: 0-100\n- note: a short 1-sentence description of what the right edge is doing\n\nRules:\n- Focus ONLY on the last ~10 candles (right edge).\n- If unsure, choose trend=\"flat\" and signal=\"HOLD\".\n- Do not output levels, targets, stops, indicators, patterns, or long analysis.\n- Return valid JSON only.\n\nJSON FORMAT:\n{\n  \"timeframe\": \"5m\",\n  \"trend\": \"up|down|flat|unknown\",\n  \"signal\": \"BUY|SELL|HOLD\",\n  \"confidence\": 0,\n  \"note\": \"short 1 sentence\",\n  \"chart_time\": \"{{ $now }}\",\n  \"url\": \"{{ $json.response }}\"\n}\n",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        2160,
        32
      ],
      "id": "cfcb1665-9010-486e-b74a-785e731be392",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2080,
        272
      ],
      "id": "1dc69739-b906-43e7-8c4d-ef37d620ac0a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hOvrgCZvpztkucKb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "chart_analysis",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2848,
        80
      ],
      "id": "917b4fce-e9c1-471f-ae19-b7f3e3b0d9c9",
      "name": "Supabase2",
      "credentials": {
        "supabaseApi": {
          "id": "id8sHbOkjIgqTd0J",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let raw = $input.first().json.text;\n\n// Strip code block markers, leading/trailing quotes, and whitespace\nraw = raw.trim()\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/```$/i, '')\n    .replace(/^'|'$/g, '');\n\nreturn [ JSON.parse(raw) ];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        32
      ],
      "id": "7b806285-7496-46c1-b3bf-95ee841af07f",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "latest_chart_analysis",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "symbol",
              "condition": "eq",
              "keyValue": "MES"
            },
            {
              "keyName": "timeframe",
              "condition": "eq",
              "keyValue": "={{ $json.timeframe }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "snapshot",
              "fieldValue": "={{ $json }}"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $json.chart_time }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2848,
        304
      ],
      "id": "ef75c606-3560-43e4-90ce-0b906b806f84",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "id8sHbOkjIgqTd0J",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2848,
        480
      ],
      "id": "fc574a7d-c347-4f10-991c-d7ac933705da",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Tradingview Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Tradingview Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Tradingview Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Set 'response' value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tradingview Chart": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set 'response' value": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase2": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "e41ba9f4-9fc8-4200-adc8-fd4b61d8121d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9783a33f8d5600da0ff08d35d1dc9051c104e0a37fceb74a2ffe1557dcda02bc"
  },
  "id": "7g4qjNktNsBh7U9Q",
  "tags": []
}