ai trading overseer - regime gpt.json
{
  "name": "ai trading overseer - regime gpt",
  "nodes": [
    {
      "parameters": {
        "content": "## Start here: Step-by Step Youtube Tutorial :star:\n\n[![Technical Analyst AI Agent using LLM Vision](https://img.youtube.com/vi/yjBHheCB6Ek/sddefault.jpg)](https://youtu.be/yjBHheCB6Ek)\n",
        "height": 550,
        "width": 507,
        "color": 7
      },
      "id": "b4be8749-846c-4e94-8544-4f2e1e81193e",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        -624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gpt-overseer",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        816,
        368
      ],
      "id": "64407fa6-0f3c-447d-a372-96487a5c5f84",
      "name": "Webhook",
      "webhookId": "84dbd406-676c-4027-aa59-2efc11826420"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"strategy\": \"{{ $('Code').item.json.strategy }}\",\n  \"signal\": \"{{ $('Code').item.json.signal }}\",\n  \"timestamp\": \"{{ $('Code').item.json.timestamp }}\",\n  \"symbol\": \"{{ $('Code').item.json.symbol }}\",\n  \"account\": \"{{ $('Code').item.json.account }}\",\n  \"size\": {{ $('Code').item.json.size }},\n  \"ai_decision_id\": \"{{ $json.ai_decision_id }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        3376,
        192
      ],
      "id": "d425b31f-3e88-43ee-a611-a56d6c35706f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2160,
        624
      ],
      "id": "b140596c-df07-4587-ab0d-30828541cc6f",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "hOvrgCZvpztkucKb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        816,
        544
      ],
      "id": "31d43c2d-e369-4354-a7c4-d385c0670e5f",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "tableId": "ai_trading_log",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2880,
        192
      ],
      "id": "51e68f22-2ffc-4a30-9075-1adc7fe5b368",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "id8sHbOkjIgqTd0J",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let raw = $input.first().json.text;\n\n// Strip code block markers, leading/trailing quotes, and whitespace\nraw = raw.trim()\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/```$/i, '')\n    .replace(/^'|'$/g, '');\n\nreturn [ JSON.parse(raw) ];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        192
      ],
      "id": "d80785f5-de43-4595-a223-bb6d7670923a",
      "name": "Code"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        816,
        160
      ],
      "id": "8142bd85-dc92-4a5a-acc3-d82245b90884",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d733105-b0e5-4590-ba13-b908adce16f5",
              "name": "ai_decision_id",
              "value": "={{ $json.ai_decision_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3152,
        192
      ],
      "id": "ae0a8029-7fe0-4bd3-8079-25b2addfef26",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-preview-05-06",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1712,
        912
      ],
      "id": "32ec7c96-0de2-42e6-8519-83f6ad5b031c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "F4FVFeD0uuK5mXJ7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "object",
        "operation": "create",
        "bucketName": "tradingview-chart",
        "objectName": "=charts/{{ $json.id }}/{{ $json.timeframe }}.jpg",
        "createData": {},
        "createQuery": {},
        "encryptionHeaders": {},
        "requestOptions": {}
      },
      "name": "Upload to GCS",
      "type": "n8n-nodes-base.googleCloudStorage",
      "typeVersion": 1,
      "position": [
        3888,
        464
      ],
      "id": "d59f8c55-1069-46e5-856f-d68ea33a197b",
      "retryOnFail": true,
      "credentials": {
        "googleCloudStorageOAuth2Api": {
          "id": "kT6LnTnLCRqZwDOj",
          "name": "Google Cloud Storage account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e0d240b7-b268-482c-991f-095f2a8d02fd",
              "name": "urls['1m']",
              "value": "={{ $json.urls['1m'] }}",
              "type": "string"
            },
            {
              "id": "4147d304-bbd3-449e-93aa-f04536862b9b",
              "name": "urls['5m']",
              "value": "={{ $json.urls['5m'] }}",
              "type": "string"
            },
            {
              "id": "ab9f8eed-00fa-4df8-a04e-6d2925a67f27",
              "name": "urls['15m']",
              "value": "={{ $json.urls['15m'] }}",
              "type": "string"
            },
            {
              "id": "af6b2387-5097-40cb-8418-69a3fa536eb8",
              "name": "urls['30m']",
              "value": "={{ $json.urls['30m'] }}",
              "type": "string"
            },
            {
              "id": "23f0fae8-29d8-4a71-a31d-b2348c729b6f",
              "name": "urls['1h']",
              "value": "={{ $json.urls['1h'] }}",
              "type": "string"
            },
            {
              "id": "248d85d5-3bdc-4ecd-bb40-6bf25046d7c4",
              "name": "urls['4h']",
              "value": "={{ $json.urls['4h'] }}",
              "type": "string"
            },
            {
              "id": "f8dc95a6-072c-4da8-a8b2-093dcb631114",
              "name": "=urls['6h']",
              "value": "={{ $json.urls['6h'] }}",
              "type": "string"
            },
            {
              "id": "bb86568b-ad6e-418a-80aa-ad7a4cafbd71",
              "name": "urls['1D']",
              "value": "={{ $json.urls['1D'] }}",
              "type": "string"
            },
            {
              "id": "44e9d891-3d63-49e0-a00c-ddcf37f53493",
              "name": "urls['1W']",
              "value": "={{ $json.urls['1W'] }}",
              "type": "string"
            },
            {
              "id": "69c1823d-a907-4a16-a655-cc70d516dc1f",
              "name": "urls['1M']",
              "value": "={{ $json.urls['1M'] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2944,
        480
      ],
      "id": "05c48efd-da17-4d6b-bd90-da9e1c87b4df",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3200,
        464
      ],
      "id": "f62dca23-3c7b-4c55-a568-56ab9fc35eb8",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3664,
        464
      ],
      "id": "9459a464-c190-4966-83a6-e96f45ac4420",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// --- Code1: build items with url + chart_time pulled from nodes \"5m\",\"15m\",\"30m\"\n\n// Parse urls\nlet urls = $json.urls;\ntry {\n  if (typeof urls === 'string') {\n    urls = JSON.parse(urls);\n    if (typeof urls === 'string') urls = JSON.parse(urls);\n  }\n} catch (_) {}\n\nconst id = $json.ai_decision_id || $json.timestamp || 'unknown_id';\n\n// Fallback time if none is found anywhere\nconst fallbackTime = (() => {\n  const t = $json.timestamp || $json.chart_time;\n  const d = t ? new Date(t) : new Date();\n  return isNaN(+d) ? new Date().toISOString() : d.toISOString();\n})();\n\n// Helper: get chart_time from a named node’s first item (like $(\"5m\").first().json.snapshot.chart_time)\nconst getCT = (nodeName) => {\n  try {\n    const arr = $items(nodeName, 0) || [];     // all items from that node\n    const n = arr[0]?.json;\n    const t = n?.snapshot?.chart_time ?? n?.chart_time ?? n?.time ?? null;\n    if (!t) return undefined;\n    const d = new Date(t);\n    return isNaN(+d) ? undefined : d.toISOString();\n  } catch {\n    return undefined;\n  }\n};\n\n// Preload chart_time lookups from upstream nodes\nconst CT = {\n  '5m':  getCT('5m'),\n  '15m': getCT('15m'),\n  '30m': getCT('30m'),\n};\n\n// Emit helper\nconst out = [];\nconst push = (tf, url, chart_time) => {\n  if (typeof url === 'string' && /^https?:\\/\\//i.test(url)) {\n    const chosen = chart_time || CT[tf] || fallbackTime;\n    out.push({ json: { timeframe: tf, url, chart_time: chosen, id } });\n  }\n};\n\n// Case A: object map { \"5m\": {url, chart_time?}, ... } – emit in fixed order\nif (urls && !Array.isArray(urls) && typeof urls === 'object') {\n  ['5m','15m','30m'].forEach(tf => {\n    const entry = urls[tf];\n    if (!entry) return;\n    if (typeof entry === 'string') push(tf, entry, undefined);\n    else if (entry && typeof entry.url === 'string') push(tf, entry.url, entry.chart_time);\n  });\n}\n// Case B: array of strings/objects – force labels 5m/15m/30m\nelse if (Array.isArray(urls)) {\n  const labels = ['5m','15m','30m'];\n  urls.slice(0, 3).forEach((u, i) => {\n    const url = (typeof u === 'string') ? u : u?.url;\n    const ctime = (typeof u === 'object') ? u?.chart_time : undefined;\n    push(labels[i], url, ctime);\n  });\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3424,
        464
      ],
      "id": "c92a26b1-e813-42d2-94d1-17e8cdfa2852",
      "name": "Code1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "27b01d5c-b00a-4266-b6aa-ae9a2472d2db",
              "name": "url",
              "value": "=https://storage.googleapis.com/tradingview-chart/charts/{{ $('Code1').item.json.id }}/{{ $('Code1').item.json.timeframe }}.jpg",
              "type": "string"
            },
            {
              "id": "6d0b4721-0211-4acb-9d58-882bd7bfe0a8",
              "name": "timeframe",
              "value": "={{ $('HTTP Request').item.json.timeframe }}",
              "type": "string"
            },
            {
              "id": "45c55a40-6d76-4234-9217-b249ec4d4656",
              "name": "id",
              "value": "={{ $('Code1').item.json.id }}",
              "type": "number"
            },
            {
              "id": "b5c9f6f5-0d42-4303-9716-9c88bf061b12",
              "name": "chart_time",
              "value": "={{ $('Code1').item.json.chart_time }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4080,
        464
      ],
      "id": "3656d697-e426-44e0-95e2-ccabb2feed4e",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsCode": "const out = {};\nfor (const item of items) {\n  // Use the actual field names\n  out[item.json.timeframe] = item.json.url;\n}\nreturn [\n  {\n    json: {\n      id: items[0].json.id,\n      urls: out\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4288,
        464
      ],
      "id": "54878539-ac3b-419e-9c17-3cd08f8f869f",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ai_trading_log",
        "filterType": "string",
        "filterString": "=ai_decision_id=eq.{{ $json.id }}\n",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "urls",
              "fieldValue": "={{ JSON.stringify($json.urls) }}\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4480,
        464
      ],
      "id": "097a1cdc-3a56-4236-afcc-3964a0a1f2f7",
      "name": "Supabase1",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "id8sHbOkjIgqTd0J",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "items.forEach(item => {\n  if (item.json.chart_time) {\n    // Replace T with space\n    let time = item.json.chart_time.replace('T', ' ');\n    // Remove timezone if present (matches +00:00 or -06:00 or Z at the end)\n    time = time.replace(/([+-]\\d{2}:\\d{2}|Z)$/, '');\n    // Trim any spaces at the end\n    item.json.chart_time = time.trim();\n  }\n});\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4288,
        672
      ],
      "id": "bf673b61-5de9-4968-a1c6-5df6859d7c52",
      "name": "Code3"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "chart_analysis",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "chart_time",
              "condition": "eq",
              "keyValue": "={{ $json.chart_time }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "url",
              "fieldValue": "={{ $json.url }}\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4480,
        672
      ],
      "id": "6f494a01-f00d-4299-b6b2-86129d890e36",
      "name": "updates chart_analysis urls",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "id8sHbOkjIgqTd0J",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Today is {{ $now }}.\n\nYou are the trading overseer for MES.\nYou ONLY decide:\n1) signal: BUY | SELL | HOLD | FLAT\n2) size: 0 | 1 | 2 | 3\n3) short reason (≤20 words)\n\nYou DO NOT analyze charts, indicators, levels, entries, stops, or targets.\nYou MUST NOT invent data or fields. If anything critical is missing, choose the safest default.\n\nInputs (from webhook only):\n- alert (string)\n- symbol (string)\n- account (string)\n- market_state (object): { signal: \"BUY|SELL|HOLD\", trend: \"up|down|flat|unknown\", confidence: 0-100, ... }\n- confluence (object): may include { trade_recommended: boolean, ... }\n- position_context (object):\n  - account_metrics: { can_trade: boolean, risk_level: \"low|medium|high\", consecutive_losses: int }\n  - current_position: { has_position: boolean, side: \"LONG|SHORT|null\", size: int, current_pnl: number }\n\nIMPORTANT EXECUTION CONSTRAINTS (simple strategy):\n- If a position already exists, you may ONLY output HOLD or FLAT. (No adding, no reversing.)\n- BUY/SELL only allowed when current_position.has_position == false.\n- FLAT only allowed when current_position.has_position == true.\n\nPRIORITIES (in order):\n1) Safety (can_trade, risk_level)\n2) Existing position management\n3) Market-state defaults\n4) New entries\n\nRULES (apply in order):\n\nA) HARD STOP\n- If position_context missing OR account_metrics missing OR can_trade != true => signal=HOLD, size=0.\n\nB) MARKET DEFAULT (NO TRADE ZONE)\n- If market_state missing OR market_state.signal not in {BUY, SELL}\n  OR market_state.trend in {flat, unknown}\n  OR market_state.confidence < 55\n  => signal=HOLD, size=0.\n- If confluence.trade_recommended == false AND current_position.has_position == false => signal=HOLD, size=0.\n  (If confluence missing or trade_recommended missing, ignore this line.)\n\nC) EXISTING POSITION (current_position.has_position == true)\n- You must NOT open a new trade. Only HOLD or FLAT.\n- If market_state.signal implies OPPOSITE direction to current_position.side:\n    - If current_pnl <= -20 => signal=FLAT, size=0. (cut loser)\n    - Else => signal=HOLD, size=0. (no reverse)\n- If market_state.signal implies SAME direction => signal=HOLD, size=0. (no add)\n\nD) NO POSITION (current_position.has_position == false)\n- If market_state.signal in {BUY, SELL}:\n  - base size = 1\n  - If risk_level == \"high\" => size = 1\n  - If consecutive_losses >= 1 => size = 1\n  - If confidence >= 80 AND risk_level == \"low\" AND consecutive_losses == 0 => size = 2\n  - If confidence >= 90 AND risk_level == \"low\" AND consecutive_losses == 0 => size = 3 (rare)\n- Otherwise => signal=HOLD, size=0.\n\nOUTPUT REQUIREMENTS:\n- Return ONLY valid JSON (no markdown, no extra keys, no commentary).\n- strategy must be \"simple\"\n- timestamp must be \"{{ $now }}\"\n- size must be an integer 0..3\n- reason must be ≤20 words and cite the first blocking/allowing rule (e.g., \"Rule B: confidence<55\").\n\nRETURN ONLY THIS JSON:\n{\n  \"strategy\": \"simple\",\n  \"signal\": \"BUY|SELL|HOLD|FLAT\",\n  \"alert\": \"{{ $('Webhook').item.json.body.alert }}\",\n  \"timestamp\": \"{{ $now }}\",\n  \"symbol\": \"{{ $('Webhook').item.json.body.symbol || 'MES' }}\",\n  \"account\": \"{{ $('Webhook').item.json.body.account }}\",\n  \"size\": 0,\n  \"reason\": \"≤20 words; cite rule\",\n  \"ai_decision_id\": {{ $('Webhook').item.json.body.ai_decision_id || 0 }},\n  \"market_state\": {{ JSON.stringify($('Webhook').item.json.body.market_state) }},\n  \"confluence\": {{ JSON.stringify($('Webhook').item.json.body.confluence) }},\n  \"position_context\": {{ JSON.stringify($('Webhook').item.json.body.position_context) }},\n  \"urls\": {{ JSON.stringify($('Webhook').item.json.body.chart_urls || {}) }}\n}\n",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        2240,
        368
      ],
      "id": "5e3b3134-0474-4889-910e-f398750604c3",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "url": "={{ $('5m').item.json.snapshot.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1968,
        368
      ],
      "id": "53756236-ef35-49d2-9f25-e5408c01647d",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Opus 4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1552,
        912
      ],
      "id": "9d50297b-7ff0-4b0a-9f41-d514d7cf803f",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "SYGdKwRCUXN1yoB4",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "latest_chart_analysis",
        "filters": {
          "conditions": [
            {
              "keyName": "timeframe",
              "keyValue": "15m"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1328,
        -16
      ],
      "id": "2900c224-d821-4b49-90d9-a833c4c6e396",
      "name": "15m",
      "credentials": {
        "supabaseApi": {
          "id": "id8sHbOkjIgqTd0J",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "latest_chart_analysis",
        "filters": {
          "conditions": [
            {
              "keyName": "timeframe",
              "keyValue": "5m"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1728,
        368
      ],
      "id": "8f38a31e-94cc-44c3-8049-ca805cd62241",
      "name": "5m",
      "credentials": {
        "supabaseApi": {
          "id": "id8sHbOkjIgqTd0J",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "latest_chart_analysis",
        "filters": {
          "conditions": [
            {
              "keyName": "timeframe",
              "keyValue": "30m"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1504,
        0
      ],
      "id": "49de3f66-128e-4670-a1f7-2e08e7975beb",
      "name": "30m",
      "credentials": {
        "supabaseApi": {
          "id": "id8sHbOkjIgqTd0J",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "grok-4-fast-reasoning",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        1872,
        912
      ],
      "id": "8776c273-079e-4670-a98e-0b8327716061",
      "name": "xAI Grok Chat Model",
      "credentials": {
        "xAiApi": {
          "id": "JeRKtSY3Lr8eQ6II",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        2016,
        912
      ],
      "id": "a08535c0-8c29-4877-bf9f-96c556e6c28c",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "ZUzUvD1Qap3vjZy7",
          "name": "DeepSeek account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "5m",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "5m",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "5m",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload to GCS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to GCS": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        []
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "updates chart_analysis urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "15m": {
      "main": [
        [
          {
            "node": "30m",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5m": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "30m": {
      "main": [
        []
      ]
    },
    "xAI Grok Chat Model": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  },
  "versionId": "7d7d6bae-77a2-4ddf-bccf-77ff625857a0",
  "meta": {
    "templateId": "2569",
    "templateCredsSetupCompleted": true,
    "instanceId": "9783a33f8d5600da0ff08d35d1dc9051c104e0a37fceb74a2ffe1557dcda02bc"
  },
  "id": "F4MyqB2vOuBxvs7m",
  "tags": []
}