datafeed.json
{
  "name": "datafeed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tvdatafeed",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -224,
        0
      ],
      "id": "73860a9c-6c59-460a-bfd9-ec66c7955b65",
      "name": "Webhook",
      "webhookId": "921f3c0c-e65e-4d26-917e-6d21315fcd17"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a6c7b32b-90b6-4344-829c-0b3771fbeb83",
              "name": "data",
              "value": "={{ $json.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        0
      ],
      "id": "c7556e1e-d57a-4867-bcb8-cb9fc497dcd1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return [ JSON.parse($input.first().json.data) ];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        0
      ],
      "id": "b542ed53-bd72-4e42-a06c-112bc1daa463",
      "name": "Code"
    },
    {
      "parameters": {
        "tableId": "tv_datafeed",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        544,
        0
      ],
      "id": "e30824fc-e8f0-45f3-a1fe-888b5f3239fe",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "id8sHbOkjIgqTd0J",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "{\"symbol\":\"MES\",\"timeframe\":\"{{interval}}\",\"o\":{{open}},\"h\":{{high}},\"l\":{{low}},\"c\":{{close}},\"v\":{{volume}},\"sma20\":{{plot_0}},\"sma50\":{{plot_1}},\"ema8\":{{plot_2}},\"ema21\":{{plot_3}},\"vwap\":{{plot_4}},\"atr\":{{plot_5}},\"bb_upper\":{{plot_6}},\"bb_middle\":{{plot_7}},\"bb_lower\":{{plot_8}},\"rsi\":{{plot_9}},\"macd\":{{plot_10}},\"macd_signal\":{{plot_11}},\"macd_hist\":{{plot_12}},\"stoch_k\":{{plot_13}},\"stoch_d\":{{plot_14}},\"obv\":{{plot_15}},\"fisher\":{{plot_16}},\"phobos_momentum\":{{plot_17}},\"vzo\":{{plot_18}}}\n",
        "height": 320,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -656,
        -320
      ],
      "id": "669feab0-74dd-4c55-986e-f64fadbffe14",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f20dc8a7-f8ea-479f-8641-b22fd7b5534c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9783a33f8d5600da0ff08d35d1dc9051c104e0a37fceb74a2ffe1557dcda02bc"
  },
  "id": "LPwkcat3JMi6YdX0",
  "tags": []
}