GPT ai trading overseer - regime
{
  "name": "GPT ai trading overseer - regime",
  "nodes": [
    {
      "parameters": {
        "content": "## Start here: Step-by Step Youtube Tutorial :star:\n\n[![Technical Analyst AI Agent using LLM Vision](https://img.youtube.com/vi/yjBHheCB6Ek/sddefault.jpg)](https://youtu.be/yjBHheCB6Ek)\n",
        "height": 550,
        "width": 507,
        "color": 7
      },
      "id": "6a2649d3-45e0-42d2-a662-88f631426dac",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        140,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "regime",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        940,
        360
      ],
      "id": "cbe7ef33-d1d7-4f3a-a929-cea67ee4bc55",
      "name": "Webhook",
      "webhookId": "f8e1bc5e-0693-42d3-bb80-67d44a13255c"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"strategy\": \"{{ $('Code').item.json.strategy }}\",\n  \"signal\": \"{{ $('Code').item.json.signal }}\",\n  \"timestamp\": \"{{ $('Code').item.json.timestamp }}\",\n  \"symbol\": \"{{ $('Code').item.json.symbol }}\",\n  \"account\": \"{{ $('Code').item.json.account }}\",\n  \"size\": {{ $('Code').item.json.size }},\n  \"ai_decision_id\": \"{{ $json.ai_decision_id }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        3360,
        180
      ],
      "id": "d0bbf29e-e049-4231-881d-8ec8b34bbc32",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2040,
        660
      ],
      "id": "886b4e0d-3e1f-4c65-9058-76557fe20ba1",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "hOvrgCZvpztkucKb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        940,
        540
      ],
      "id": "4ed97c80-2123-404b-b7fe-e63f606b7472",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "tableId": "ai_trading_log",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2880,
        180
      ],
      "id": "27a52fa0-c481-4b31-8988-bef414dfbf03",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "id8sHbOkjIgqTd0J",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let raw = $input.first().json.text;\n\n// Strip code block markers, leading/trailing quotes, and whitespace\nraw = raw.trim()\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/```$/i, '')\n    .replace(/^'|'$/g, '');\n\nreturn [ JSON.parse(raw) ];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        180
      ],
      "id": "79fce8f0-64c1-43c1-8400-5a21e1526198",
      "name": "Code"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        940,
        160
      ],
      "id": "ac8a2908-2e0d-43ac-b7e6-d590a55fcb8d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d733105-b0e5-4590-ba13-b908adce16f5",
              "name": "ai_decision_id",
              "value": "={{ $json.ai_decision_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3140,
        180
      ],
      "id": "8396e1bd-457a-4dfc-baf6-aa89bf7d8c2a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-preview-05-06",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1720,
        900
      ],
      "id": "7436ceb3-c148-4d4e-90b2-b4cb2dd2dd7f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SxnFAWOfVBPKSwq9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "object",
        "operation": "create",
        "bucketName": "tradingview-chart",
        "objectName": "=charts/{{ $json.id }}/{{ $json.timeframe }}.jpg",
        "createData": {},
        "createQuery": {},
        "encryptionHeaders": {},
        "requestOptions": {}
      },
      "name": "Upload to GCS",
      "type": "n8n-nodes-base.googleCloudStorage",
      "typeVersion": 1,
      "position": [
        3880,
        460
      ],
      "id": "6a38771d-824f-44b7-8ecc-0741f79e6361",
      "retryOnFail": true,
      "credentials": {
        "googleCloudStorageOAuth2Api": {
          "id": "kT6LnTnLCRqZwDOj",
          "name": "Google Cloud Storage account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e0d240b7-b268-482c-991f-095f2a8d02fd",
              "name": "urls['1m']",
              "value": "={{ $json.urls['1m'] }}",
              "type": "string"
            },
            {
              "id": "4147d304-bbd3-449e-93aa-f04536862b9b",
              "name": "urls['5m']",
              "value": "={{ $json.urls['5m'] }}",
              "type": "string"
            },
            {
              "id": "ab9f8eed-00fa-4df8-a04e-6d2925a67f27",
              "name": "urls['15m']",
              "value": "={{ $json.urls['15m'] }}",
              "type": "string"
            },
            {
              "id": "af6b2387-5097-40cb-8418-69a3fa536eb8",
              "name": "urls['30m']",
              "value": "={{ $json.urls['30m'] }}",
              "type": "string"
            },
            {
              "id": "23f0fae8-29d8-4a71-a31d-b2348c729b6f",
              "name": "urls['1h']",
              "value": "={{ $json.urls['1h'] }}",
              "type": "string"
            },
            {
              "id": "248d85d5-3bdc-4ecd-bb40-6bf25046d7c4",
              "name": "urls['4h']",
              "value": "={{ $json.urls['4h'] }}",
              "type": "string"
            },
            {
              "id": "f8dc95a6-072c-4da8-a8b2-093dcb631114",
              "name": "=urls['6h']",
              "value": "={{ $json.urls['6h'] }}",
              "type": "string"
            },
            {
              "id": "bb86568b-ad6e-418a-80aa-ad7a4cafbd71",
              "name": "urls['1D']",
              "value": "={{ $json.urls['1D'] }}",
              "type": "string"
            },
            {
              "id": "44e9d891-3d63-49e0-a00c-ddcf37f53493",
              "name": "urls['1W']",
              "value": "={{ $json.urls['1W'] }}",
              "type": "string"
            },
            {
              "id": "69c1823d-a907-4a16-a655-cc70d516dc1f",
              "name": "urls['1M']",
              "value": "={{ $json.urls['1M'] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2940,
        480
      ],
      "id": "6def145f-e4a5-4977-bcea-8c0f99c1892c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3200,
        460
      ],
      "id": "f082f5c4-36fe-4755-994e-3ccee62f8550",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3640,
        460
      ],
      "id": "4aaf4901-b12e-4528-a65b-b8da5c8f7028",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// NEW: Use URLs from regime analysis payload instead of tool calls\nlet urls = $json.body.chart_urls;\nif (typeof urls === 'string') {\n  urls = JSON.parse(urls);\n}\n\nconst id = $json.ai_decision_id || $json.timestamp || 'unknown_id';\nconst out = [];\n\nfor (const tf in urls) {\n  const entry = urls[tf];\n  if (entry && typeof entry === \"object\" && typeof entry.url === \"string\") {\n    out.push({\n      json: {\n        timeframe: tf,\n        url: entry.url,\n        chart_time: entry.chart_time,\n        id\n      }\n    });\n  }\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3400,
        460
      ],
      "id": "f0f13d73-0a22-4261-ab97-86beb45db488",
      "name": "Code1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "27b01d5c-b00a-4266-b6aa-ae9a2472d2db",
              "name": "url",
              "value": "=https://storage.googleapis.com/tradingview-chart/charts/{{ $('Code1').item.json.id }}/{{ $('Code1').item.json.timeframe }}.jpg",
              "type": "string"
            },
            {
              "id": "6d0b4721-0211-4acb-9d58-882bd7bfe0a8",
              "name": "timeframe",
              "value": "={{ $('HTTP Request').item.json.timeframe }}",
              "type": "string"
            },
            {
              "id": "45c55a40-6d76-4234-9217-b249ec4d4656",
              "name": "id",
              "value": "={{ $('Code1').item.json.id }}",
              "type": "number"
            },
            {
              "id": "b5c9f6f5-0d42-4303-9716-9c88bf061b12",
              "name": "chart_time",
              "value": "={{ $('Code1').item.json.chart_time }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4080,
        460
      ],
      "id": "4bd02cf0-397e-4c9e-8dbe-76643e0dc4c7",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsCode": "const out = {};\nfor (const item of items) {\n  // Use the actual field names\n  out[item.json.timeframe] = item.json.url;\n}\nreturn [\n  {\n    json: {\n      id: items[0].json.id,\n      urls: out\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4280,
        460
      ],
      "id": "7db6b6d0-332d-4e6e-9972-93e5358c82ca",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ai_trading_log",
        "filterType": "string",
        "filterString": "=ai_decision_id=eq.{{ $json.id }}\n",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "urls",
              "fieldValue": "={{ JSON.stringify($json.urls) }}\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4480,
        460
      ],
      "id": "98036dae-0bff-48a7-baa4-64f211154d1c",
      "name": "Supabase1",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "id8sHbOkjIgqTd0J",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "items.forEach(item => {\n  if (item.json.chart_time) {\n    // Replace T with space\n    let time = item.json.chart_time.replace('T', ' ');\n    // Remove timezone if present (matches +00:00 or -06:00 or Z at the end)\n    time = time.replace(/([+-]\\d{2}:\\d{2}|Z)$/, '');\n    // Trim any spaces at the end\n    item.json.chart_time = time.trim();\n  }\n});\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4280,
        660
      ],
      "id": "d1855a69-0b4f-4abb-ae9e-80acc20798b2",
      "name": "Code3"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "chart_analysis",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "chart_time",
              "condition": "eq",
              "keyValue": "={{ $json.chart_time }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "url",
              "fieldValue": "={{ $json.url }}\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4480,
        660
      ],
      "id": "589a2285-76e6-4dea-ae42-45c6d0968a79",
      "name": "updates chart_analysis urls",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "id8sHbOkjIgqTd0J",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Today is {{ $now }}.\n\nYou are the lead trading analyst for MES. You have received comprehensive market analysis data from the regime detection system AND current position context.\n\n**POSITION CONTEXT:**\n{{ $('Webhook').item.json.position_context ? JSON.stringify($('Webhook').item.json.position_context, null, 2) : 'No position context provided' }}\n\n**CRITICAL POSITION RULES:**\n1. **ACCOUNT RISK MANAGEMENT:**\n   - If position_context.account_metrics.can_trade = false, ALWAYS return HOLD\n   - If risk_level = \"high\", maximum size = 1\n   - If consecutive_losses >= 2, be extra cautious\n\n2. **EXISTING POSITION MANAGEMENT:**\n   - If we have a position (has_position = true):\n     * Same direction signal: Consider adding (max total size = 3)\n     * Opposite direction signal: HOLD unless strong reversal setup\n     * If current_pnl < -20, consider flattening on any opposite signal\n     * If current_pnl > 20, can be more aggressive with adds\n\n3. **NO POSITION RULES:**\n   - Fresh trades only on high confidence setups (>70%)\n   - Reduce size if account has recent losses\n   - Check warnings array for risk factors\n\n4. **AUTONOMOUS TRADE VALIDATION:**\n   - If {{ $('Webhook').item.json.autonomous }} = true, this is bot-initiated\n   - Validate extra carefully - only approve if very high confidence\n   - Reduce size by 1 for autonomous trades\n\n**REGIME ANALYSIS PROVIDED:**\n- Overall Regime: {{ $('Webhook').item.json.market_analysis.regime }}\n- Confidence: {{ $('Webhook').item.json.market_analysis.confidence }}%\n- Risk Level: {{ $('Webhook').item.json.market_analysis.risk_level }}\n- Supporting Factors: {{ $('Webhook').item.json.market_analysis.supporting_factors }}\n\n**TIMEFRAME ALIGNMENT:**\n- Trend Alignment Score: {{ $('Webhook').item.json.market_analysis.trend_details.alignment_score }}%\n- Primary Trend: {{ $('Webhook').item.json.market_analysis.trend_details.primary_trend }}\n- Has Conflicts: {{ $('Webhook').item.json.market_analysis.trend_details.has_conflict }}\n\n**INDIVIDUAL TIMEFRAME SIGNALS:**\n{{ $('Webhook').item.json.timeframe_signals }}\n\n**DECISION HIERARCHY:**\n1. **SAFETY FIRST - HOLD IF:**\n   - Account cannot trade (can_trade = false) - CHECK FIRST!\n   - Position warnings exist and confidence < 80%\n   - Reversing a profitable position without strong setup\n   - Confidence < 60% OR Risk Level = \"high\"\n   - Trend alignment < 50% (conflicting timeframes)\n\n2. **STRONG SIGNALS - SIZE 3:**\n   - Only if no current position OR adding to winner\n   - Confidence > 80% AND trend alignment > 70%\n   - Account risk_level = \"low\"\n   - No recent consecutive losses\n\n3. **MODERATE SIGNALS - SIZE 2:**\n   - Standard conditions\n   - Account risk_level = \"low\" or \"medium\"\n   - Current position size < 2\n\n4. **MINIMUM SIGNALS - SIZE 1:**\n   - Account risk_level = \"high\"\n   - Consecutive losses > 0\n   - Any position warnings\n   - Autonomous trades\n\n**STRATEGY SELECTION:**\n- bracket: Default for trending markets\n- brackmod: Use for choppy/range regimes only\n- pivot: Strong breakouts with volume (not available)\n\n**YOUR TASK:**\n1. Check position context FIRST - if can_trade = false, return HOLD\n2. Evaluate existing position impact on new signal\n3. Adjust size based on account metrics and risk\n4. Review the 5m chart image to validate current price action\n5. Use the provided regime analysis (DO NOT make additional timeframe calls)\n6. Make final trading decision based on hierarchy above\n\n**Respond with valid JSON only** (no extra text):\n{\n  \"strategy\": \"bracket|brackmod\",\n  \"signal\": \"BUY|SELL|HOLD\",\n  \"alert\": \"{{ $('Webhook').item.json.alert }}\",\n  \"timestamp\": \"{{ $now }}\",\n  \"entrylimit\": <float|null>,\n  \"tp1\": <float|null>,\n  \"tp2\": <float|null>,\n  \"tp3\": <float|null>,\n  \"sl\": <float|null>,\n  \"symbol\": \"CON.F.US.MES.M25\",\n  \"account\": \"{{ $('Webhook').item.json.account }}\",\n  \"size\": <1|2|3>,\n  \"reason\": \"Decision based on position context and regime: [specific rationale]\",\n  \"position_aware_notes\": \"Current position: [size/side/pnl]. Account state: [metrics]. Decision: [rationale]\",\n  \"risk_assessment\": \"Account risk: [level], Daily P&L: [amount], Action: [size adjustment]\",\n  \"regime_notes\": \"Applied hierarchy rule [1|2|3|4]: [why this rule triggered]\",\n  \"sizing_rationale\": \"Size [1|2|3] based on [position/account/regime factors]\",\n  \"trend\": {\n    \"5m\": \"{{ $('Webhook').item.json.market_analysis.trend_details.trends_by_timeframe['5m'] || 'unknown' }}\",\n    \"15m\": \"{{ $('Webhook').item.json.market_analysis.trend_details.trends_by_timeframe['15m'] || 'unknown' }}\",\n    \"1h\": \"{{ $('Webhook').item.json.market_analysis.trend_details.trends_by_timeframe['1h'] || 'unknown' }}\"\n  },\n  \"urls\": {{ $('Webhook').item.json.chart_urls }},\n  \"support\": {{ $('Webhook').item.json.support }},\n  \"resistance\": {{ $('Webhook').item.json.resistance }}\n}",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        2140,
        360
      ],
      "id": "32635b42-c9fa-4dce-ba1a-eee35ee1cff9",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "url": "={{ $json.snapshot.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        360
      ],
      "id": "a979d541-26b6-4545-b963-14229db12375",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "latest_chart_analysis",
        "filters": {
          "conditions": [
            {
              "keyName": "timeframe",
              "keyValue": "5m"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1300,
        360
      ],
      "id": "f77218ec-0c78-4e22-8991-6030c5c42d7b",
      "name": "Supabase2",
      "credentials": {
        "supabaseApi": {
          "id": "id8sHbOkjIgqTd0J",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c97ade3a-bb11-4da6-898d-ccac750a3903",
              "name": "snapshot.url",
              "value": "={{ $json.snapshot.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1560,
        360
      ],
      "id": "5cd9b2d2-e31a-4929-bfc9-9d638808c04c",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Opus 4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1760,
        720
      ],
      "id": "10a61d2c-1aa5-4cd7-9666-e0681a035a00",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "SYGdKwRCUXN1yoB4",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload to GCS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to GCS": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        []
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "updates chart_analysis urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  },
  "versionId": "d5c93153-3a9c-4240-95af-0885201342db",
  "meta": {
    "templateId": "2569",
    "templateCredsSetupCompleted": true,
    "instanceId": "9783a33f8d5600da0ff08d35d1dc9051c104e0a37fceb74a2ffe1557dcda02bc"
  },
  "id": "8YmLYQcDjKXJ0pAK",
  "tags": []
}
